<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/market.css">
    <link rel="stylesheet" href="/static/css/product.css">
    <link rel="stylesheet" href="/static/css/bidProduct.css">
    <link rel="stylesheet" href="/static/css/userRegistration.css">
    <link rel="stylesheet" href="/static/css/uploadProduct.css">
    <link rel="stylesheet" href="/static/css/checkProduct.css">
</head>

<body>
    <!-- Main Navbar -->
    <div id="top" class="upper-portion">
        <div class="logo">
            <a href="index.html"><img src="/static/images/KisaanBuddyLogo.png" alt=""></a>
        </div>

        <div class="upper-links-ul">
            <ul>
                <li><a class="upper-links" href="">About</a></li>
                <li><a class="upper-links" href="#contact">Contact</a></li>
                <!-- If logged Out -->
                <!-- <li><a class="upper-links" href="login.html">Sign in</a></li> -->

                <!-- If logged In -->
                <li class="dropdown">
                    <a class="drop-link upper-links">Username<i class="fa-solid fa-angle-down"></i></a>
                    <div class="dropdown-content">
                        <a href="#">Profile</a>
                        <a href="productDashboard.html">Product Dashboard</a>
                        <a href="#">Upload a Product</a>
                        <hr>
                        <a href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="change-lang">
            <a class="upper-links language" href="">English</a>
        </div>
    </div>

    <div class="market-nav">
        <h3>E-MarketPlace</h3>
    </div>

    <hr class="sort-head-separator">

    <div class="flex-container">

        <div class="images-btns">
            <div class="main-img">
                <img src="/static/images/rice-product.jpg" alt="">
            </div>
            <div class="images">
                <img src="/static/images/rice-product.jpg" alt="">
                <img src="/static/images/rice-product.jpg" alt="">
                <img src="/static/images/rice-product.jpg" alt="">
                <img src="/static/images/rice-product.jpg" alt="">
                <img src="/static/images/rice-product.jpg" alt="">
            </div>
            <div class="bid-cart-btn">
                <button class="add-to-cart-btn">Delete Product</button>
                <button onclick="location.href='bidProduct.html'" class="bid-now-btn">Sell to Highest Bidder</button>
            </div>
        </div>

        <div class="details">
            <h2 class="product-name-head">Rice, 1 kg</h2>
            <div class="seller">
                <span>Seller - </span>
                <span>Affan</span>
            </div>
            <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit
                pariatur, autem modi fugiat veritatis? Dolor quis cumque alias? Magnam!</div>
            <div class="state">State of Origin - <span>Maharashtra</span></div>
            <div class="category-type">Category - <span>Crop</span></div>
            <div class="bid-numbers">Number of Bids - <span>20</span></div>
            <div class="start-price">Starting Price - <span>$50</span></div>
            <div class="latest-bid">Latest Bid - <span>$130</span></div>

        </div>


    </div>

    <div class="bidding-table">
        <h5>All Bids</h5>
        <table>
            <tr>
                <td>Name</td>
                <td>Stated Price</td>
                <td>Country</td>
                <td>State</td>
                <td>City</td>
                <td>Contact Number</td>
            </tr>
            <tr>
                <td>Affan</td>
                <td>$100 / kg</td>
                <td>India</td>
                <td>Maharashtra</td>
                <td>Navi Mumbai</td>
                <td>1243098743</td>
            </tr>
            <tr>
                <td>Nameer</td>
                <td>$90 / kg</td>
                <td>India</td>
                <td>Maharashtra</td>
                <td>Mumbai</td>
                <td>7582103501</td>
            </tr>
            <tr>
                <td>Amaan</td>
                <td>$85 / kg</td>
                <td>India</td>
                <td>Maharashtra</td>
                <td>Mumbai</td>
                <td>7582103501</td>
            </tr>
            <tr>
                <td>Saif</td>
                <td>$80 / kg</td>
                <td>India</td>
                <td>Maharashtra</td>
                <td>Mumbai</td>
                <td>7582103501</td>
            </tr>
            <tr>
                <td>Harry</td>
                <td>$70 / kg</td>
                <td>India</td>
                <td>Maharashtra</td>
                <td>Mumbai</td>
                <td>7582103501</td>
            </tr>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="/index.js"></script>
</body>

</html>